# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules & build folders
node_modules
dist
dist-ssr
*.local

# VS Code & IDEs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Root level ignores
project/node_modules/
project/dist/
project/dist-ssr/
.gemini/
